/* Ümumi tənzimləmələr */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  overflow-x: hidden;
  background: url('/assets/images/portret.jpg') center/cover no-repeat;

}


}

/* HEADER */
header {
  background: transparent;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.brand {
  display: flex;
  align-items: center;
  gap: 15px;
}

.brand img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.brand .title h1 {
  margin: 0;
  font-size: 22px;
  color: #f5d76e;
}

.brand .title p {
  margin: 0;
  font-size: 13px;
  color: #fff;
}

/* MENYU */
nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #f5d76e;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #fff;
}

/* HERO MƏTNİ */
main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.hero-text h2 {
  font-size: 2.5rem;
  color: #f5d76e;
  text-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.hero-text p {
  max-width: 700px;
  font-size: 1.2rem;
  color: #fff;
  text-shadow: 0 2px 8px rgba(0,0,0,0.4);
  margin-top: 15px;
}

/* FOOTER */
footer {
  background: rgba(0, 0, 0, 0.7);
  border-top: 2px solid #f5d76e;
  color: #f5d76e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  position: fixed;
  bottom: -100px;
  left: 0;
  width: 100%;
  transition: bottom 0.6s ease;
  font-size: 0.9rem;
}

footer.show {
  bottom: 0;
}

.footer-right a {
  color: #f5d76e;
  margin-left: 15px;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-right a:hover {
  color: #fff;
  transform: scale(1.2);
}
